<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <h1>Welcome to Music Universe</h1>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/registration">Register</a>
    </nav>


    <div>
        <div>
            {% block content %}
            <div class="card">
                <p>Embark on a journey through the enchanting world of melodies and harmonies. Let the rhythm guide your
                    soul as you explore the vast expanse of musical expression. </p>
            </div>
            <div class="card">
                <p>Immerse yourself in the symphony of life, where each note resonates with the essence of human
                    experience. Feel the pulse of passion, the cadence of joy, and the melody of hope woven into every
                    chord.</p>
            </div>
            <div class="card">
                <p>At Music Universe, we believe that music transcends boundaries, transcends cultures, and transcends
                    time. It is the universal language that speaks to the heart and soul of humanity.</p>
            </div>
            {% endblock %}

        </div>
        <img src="{{url_for('static',filename='/Images/home.png')}}" alt="home">
    </div>
</body>

</html>
