<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='CSS/style.css') }}">
    <title>Document</title>
</head>
<body>
    <img src="{{url_for('static', filename = 'Image/profile.png')}}" alt="Chirst Logo" > 
    <h1 class="h1">Welcome to our website!</h1>
    <p class="p">
        A web page is a structured document. The core element of a web page is a text file written in the HyperText Markup Language (HTML)[4] which specifies the content of the web page (including links called hyperlinks) to other web resources, primarily other web pages, and to different sections of the same web page). Multimedia content on the web, such as images, videos, and other web pages, can be directly embedded in a web page to form a compound document.

An HTML document can include separate files called Cascading Style Sheets (CSS) documents (which are also text files) which specify the presentation of content on a web page. This is in principle an alternative to including that information directly in the HTML code.

The document can also include JavaScript or WebAssembly programs, which are executed by the web browser to add dynamic behavior to the web page:[4][5] for example, a form which accepts input from the user. Web pages with dynamic behavior can function as application software, referred to as web applications.
    </p>
    <h1 class="h2" align="center">All are Welcome</h1>
</body>
</html>