{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Molengo&family=Roboto:wght@100;300&family=Rubik+Wet+Paint&display=swap"
        rel="stylesheet">
</head>

<body style="background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
font-family: 'Josefin Sans', sans-serif;">
    <div class="home_main" style="background-image: url(3239480.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;">
        <nav class="navbar justify-content-center">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home.html"><i class="fa fa-home"
                            aria-hidden="true"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item act">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="home_main_heading">
            <h1 style=" text-align: center;
                font-size: 75px;">Hi.I'm Vishnu. <br>
                A Designer</h1>
            <p style="text-align: center;
            font-size: larger;">I'm passionate about crafting experiences that are engaging, accessible, and
                user-centric.</p>
        </div>
    </div>
    <div class="home_second" style="min-height: 80vh;
    background-color: white;">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://github.com/vishnu2347265/WSD_lab2/blob/main/lab_exersice_2/web_developer-6c3d7263-3f1e-4100-901e-887eff22f791.jpg?raw=true"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://github.com/vishnu2347265/WSD_lab2/blob/main/lab_exersice_2/web_developer-cf4aea8e-8a27-4e05-a3f5-c11e7526685f.jpg?raw=true"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</body>

</html>